
@import url('jquery-ui.css');

body.login {
  background: url('../img/bg-home.png') no-repeat 0 0;
}

body.cadastro-fornecedor {
  background: url('../img/bg-site.png') no-repeat 50% -11px;
}

.box-login {
  width: 800px;
  margin: 440px auto 0 auto;
}

.logo-login {
  max-width: 100%; height: auto;
}

.form-login {
  color: #fff;
}

.form-login label {
  display: inline-block;
  padding: 6px 0 0;
  color: #555;
}

.form-login .erro {
	color: #d9534f;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    background-color: #f2dede;
}

.send-login {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

.box-login .btn-success { background: #497122; }
.box-login .btn-success:hover { background: #4c7d1d !important; }

.fr { float: right; }
.fl { float: left; }
.dib { display: inline-block; }
.txtbold { font-weight: bolder; }

/* Header Panel */
.headerpanel {
  display: block;
  background: #497122;
}
.headerpanel .logopanel { 
  background: #497122; 
  padding: 18px 0 0 13px;
}

.headerpanel .logopanel img {
  display: block;
} 

.menutoggle:hover, .menutoggle:focus {
  color: #ddd;
}

/*Tables*/

.table {
  font-size: 14px;
}

.table-striped tr:hover {
	cursor: pointer;
}

.table a {
  display: block;
}

.table .fa {
	font-size: 22px;
}

.table .fa-question-circle {
  font-size: 15px;
}

/*table options*/
.table-options > li > a {
  font-size: 20px;
}

.btn-advance, .obs-form-danger {
	font-size: 12px;
}

.obs-form {
  background: #eee;
  padding: 10px;
  font-size: 11px;
  font-family: 'tahoma', sans-serif;
  color: #555;
}

/* Field Boxes */
.field-box {
	padding: 15px;
	position: relative;
}

.field-box .btn-rm {
	position: absolute;
	bottom: 15px; right: 15px;
	z-index: 200;
}

.field-box.default { 
	background: #f5f5f5;
}

.field-box.lightgray { 
  background: #f9f9f9;
}

/* Child Fields */
.child-fields {
	/*margin-top: 30px;*/
}

.child-fields .arrow {
	position: absolute;
	top: -27px; left: 100px;

	width: 20px; height: 20px;
	color: #f5f5f5;
	font-size: 40px;
}


/* ----------------------------
  // Panels Custom Styles 
------------------------------- */

/* Panel Light Gray */

/* Panel options */
.panel-lightgray .panel-options {
  top: 11px;
}
.panel-lightgray .panel-heading {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}
.panel-lightgray .panel-heading .panel-title {
  color: #777;
}
.panel-lightgray .panel-heading p {
  color: #333;
}
.panel-lightgray .panel-body {
  padding-top: 20px;
}
/* -------------------------------------- */

.panel-lightgray {
  border-color: #ccc;
}
.panel-lightgray > .panel-heading {
  color: #ffffff;
  background-color: #e5e5e5;
  border-color: #ccc;
}
.panel-lightgray > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #999;
}
.panel-lightgray > .panel-heading .badge {
  color: #777;
  background-color: #ffffff;
}
.panel-lightgray > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ccc;
}
/* -------------- */

/* Panels controls */

.panel-minimize { cursor: pointer; }


/***** CUSTOM STYLES *****/

.clear { clear: both; }

.title-btn {
  position: relative;
  top: 12px;
}

/* .alert-success { color: #497122;  */}

.main-title { background: none; }
.main-title .btn {
  padding: 12px;
  width: 100%;
}

.pdr0 { padding-right: 0; }
.mg0{ margin: 0;  }
.mt20 { margin-top: 20px; }
.mt40 { margin-top: 40px; }
.mb0 { margin-bottom: 0; }
.pdt10 { padding-top: 10px; }
.pdt20 { padding-top: 20px; }


/*Mensagens*/

.emailcontent {
  position: relative;
  top: 0; left: auto;
  width: 100%;
  margin-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /*border: solid 1px red;*/
}

.email-options {
  position: relative;
  top: 0; left: auto;
  width: 100%;
  padding: 12px 15px;
  background-color: #bac1ce;
}

.email-options .tooltips .fa { 
  font-size: 22px; 
  position: relative; top: 2px;
}

.emailcontent .list-group .list-group-item:nth-child(even) {
  background-color: #f1f1f1;
}

.emailcontent .list-group .list-group-item:hover,
.emailcontent .list-group .list-group-item:focus {
  cursor: pointer;
  background-color: #e4e7ec;
}

.sign-overlay { background: #000; }

.sign-overlay img {
  /*width: 100%; height: auto;*/
  /*display: block;*/
}

.signpanel { opacity: 0; }

.sign-overlay, .signpanel {
  height: 100%;
}

.slide-login {
  /*background: url(images/bg.jpg) no-repeat center center fixed 0 0; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; height: 100%;
}

.footer-login {
  width: 100%;
  position: fixed; 
  bottom: 0; 
  left: 0; z-index: 999; 
  margin: 0; padding: 0;
  display: none;
}

.footer-login .btn {
  width: 100%;
  padding: 15px 10px;
  /*text-align: left;*/
}

.well {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 15px;
  font-weight: bolder;
}
.well.info,
.well.inverse,
.well.primary {
  color: #fff;  
}

.well.duke {
   background: #cacac8;
   color: #fff;
}
.well.duke:hover {
  background: #BDBDBB;
}

.well.title { 
  font-size: 16px;
  background: #007da4;
 }

.panel-inverse .panel-heading {
  background: #8bb744;
 }

.btn {
  transition: .2s ease background-color;
}

.btn-success {
  background: #d6b653;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  background: #dbb541 !important;
}

.btn-default,
.btn-default:hover {
  border-color: ;
}

.form-obs {
  background: #eee;
  padding: 10px;
  font-size: 11px;
  font-family: 'tahoma', sans-serif;
  color: #555;
  display: block;
  width: 100%;
  line-height: 1.6em;
}

.td-with-btn .btn {
  width: 100%;
  display: block;
}

.panel-body.bordered { border: solid 1px #eee; }

.toggle-wrapper {
  width: auto;
}

.site-title {
  font: bolder 36px arial, sans-serif;
  color: #80ac34;
  display: block;
}

.warning {
	color: #d9534f;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    background-color: #f2dede;
}

.sucesso {
	background: #5CB85C;
	color: #fff;
	border-color: #4CAE4C;
}

.pd0 { padding-right: 0; }

.alert { margin-bottom: 0; }